<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<mat-sidenav-container class="example-container" style="background-color:rgb(0, 0, 0)">
    <mat-sidenav #sidenav  style="background-color:rgba(41, 41, 41, 0.74);">
      
      <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
       <!--AQUI ESTA EXPANDIDO-->
       
       <div class="image-upload">
        <label for="file-input">
            <img class="imgUser"  src="../../../img/Usuario.png"/>
        </label>
        </div>
       <h2 style="margin-left:30px;color:floralwhite;align-items: center">{{usuario}}</h2>
       <hr>
       <input type="text" placeholder="BUSCAR" class="form-control">
       <hr>
       <button style="color:white; margin-left:60px;" routerLink="/Inicio/Musico/Explorar/" >Explorar</button>
       <hr>
       <select id="inputPlaylist" class="form-control" pla>
          <option selected hidden>Playlists</option>
          <option>...</option>
        </select>
        <button>Salir</button>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
      <!--SECCION DE IR A COMPRAR-->
      <div class="card text-center" style="background-color:rgb(49, 49, 49) ">

          <div style="color:antiquewhite" class="card-body">
            <h5 class="card-title">{{nombreMusico}}-{{nombreAlbum}}</h5>
            <div>
                <h3 style="color:blanchedalmond">¿Compra Album? {{precioAlbum}} MXN</h3>
                <app-paypal></app-paypal>
              </div>
          </div>

        </div>
      
      <!--REPRODUCTOR-->
      <div class="row">
        <div class="player col-lg-4" *ngFor="let musicasDalbumes of cancionesDB;index as i" style="margin-bottom: 30px;margin-top: 30px;margin-left: 10%;margin-right: 30px">
            <div class="album">
              <div class="cover">
                <div><img src={{urlPortada}} /></div>
              </div>
            </div>
            <audio src={{cancionesDB[i]}} controls="controls" controlsList="nodownload" type="audio/mpeg" preload="preload">
            </audio>
            <div class="info">
              <h1>{{musicaNombre[i]}}</h1>
              <h3>{{nombreAlbum}}</h3>
              <h2>{{nombreMusico}}</h2>
            </div>
          </div>
    </div>
      <!---->

    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->