<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<mat-sidenav-container class="example-container" style="background-color:rgb(0, 0, 0)">
  <mat-sidenav #sidenav  style="background-color:rgba(83, 2, 2, 0.603);">
      
    <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
     <!--AQUI ESTA EXPANDIDO-->
     
     <div class="image-upload">
      <label for="file-input">
          <img class="imgUser"  src="../../../img/Usuario.png"/>
      
      </label>
      </div>
     <h2 style="margin-left:30px;color:floralwhite;align-items: center">{{usuario}}</h2>
     <hr>
     <input type="text" placeholder="BUSCAR" class="form-control">
     <hr>
     <button style="color:white; margin-left:60px;" (click)="explorar()" >Explorar</button>
     <div *ngIf="!usuarioNormal">
      <hr>
       <div>
         <button href="/Inicio/Musico/Publicar" style="margin-left:33px">Publicar Album</button>
       </div>
       <div>
         <button style="margin-left:50px" (click)="discografia()">Discografia</button>
       </div>
      <hr>
    </div>
    <div>
      <button style="margin-left:60px" (click)="playlist()">Playlists</button>

    </div>
     <div>
      <button style="margin-left:70px" (click)="salir()">Salir</button>

     </div> 
  </mat-sidenav>
  
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
      <!--SECCION DE IR A COMPRAR-->
      <div class="card text-center" style="background-color:rgb(49, 49, 49) ">

          <div style="color:antiquewhite" class="card-body">
            <h5 class="card-title">{{nombreMusico}}-{{nombreAlbum}}</h5>
            <div>
                <h3 style="color:blanchedalmond">¿Compra Album? {{precioAlbum}} MXN</h3>
                <div>
                  <ngx-paypal [config]="payPalConfig"></ngx-paypal>

                </div>
              </div>
          </div>

        </div>
      
      <!--REPRODUCTOR-->
      <div class="row">
        
        <div class="player col-lg-4" *ngFor="let musicasDalbumes of cancionesDB;index as i" style="margin-bottom: 30px;margin-top: 30px;margin-left: 10%;margin-right: 30px">
            <div class="album">
              <div class="cover">
                <div><img src={{urlPortada}} /></div>
              </div>
            </div>
            <audio src={{cancionesDB[i]}} controls="controls" controlsList="nodownload" type="audio/mpeg" preload="preload">
            </audio>
            <div class="info">
              <h1>{{musicaNombre[i]}}</h1>
              <h3>{{nombreAlbum}}</h3>
              <h2>{{nombreMusico}}</h2>
            </div>
            
          </div>
          
    </div>
    <h3 style="color:white">Opciones de playlist</h3>
    <!--PRIMER ACORDEON-->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color:rgb(59, 59, 59)">
          <mat-panel-title>
            Añadir Cancion a nueva Playlist
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
      
        <input id="nuevoNombre" type="text" class="form-control" placeholder="Nombre de la playlist" style="background-color:rgb(43, 43, 43)">
        <select id="dropdown1" name="Canciones" class="form-control" id="canciones" style="background-color:rgb(43, 43, 43)">
            <option selected hidden>Canciones</option>
            <option *ngFor="let canciones of musicaNombre; index as i" value={{musicaNombre[i]}}>{{musicaNombre[i]}}</option>
          </select>
        <button class="form-control"  style="background-color:rgb(43, 43, 43)" (click)="crearyAgregar()">Crear Playlist y Añadir Canción</button>
      </mat-expansion-panel>
      <!--SEGUNDO ACCORDEON-->
      <mat-expansion-panel>
          <mat-expansion-panel-header style="background-color:rgb(59, 59, 59);">
            <mat-panel-title>
              Añadir Cancion a Playlist existente
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <select name="playlist" (change)="cambioPlaylist()" class="form-control" id="playlists" style="background-color:rgb(43, 43, 43)">
              <option selected hidden>Playlists</option>
              <option value={{playlistsId[i]}} *ngFor="let canciones of nombrePlaylist; index as i" >{{nombrePlaylist[i]}}</option>
              
          </select>
          <select id="idCanciones2" name="Canciones2" class="form-control" id="canciones" style="background-color:rgb(43, 43, 43)">
              <option selected hidden>Canciones</option>
              <option *ngFor="let canciones of musicaNombre; index as i" value={{playlistsId[i]}} style="color:white">{{musicaNombre[i]}}</option>
          </select>
          <button class="form-control" style="background-color:rgb(43, 43, 43)" (click)="agregaraPlaylist()">Añadir Canción</button>

        
        </mat-expansion-panel>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->