<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />


<mat-sidenav-container class="example-container" style="background-color:rgb(0, 0, 0)">
  <mat-sidenav #sidenav  style="background-color:rgba(83, 2, 2, 0.603);">
      
    <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
     <!--AQUI ESTA EXPANDIDO-->
     
     <div class="image-upload">
      <label for="file-input">
          <img class="imgUser"  src="../../../img/Usuario.png"/>
      
      </label>
      </div>
     <h2 (click)="irInicio()" style="margin-left:30px;color:floralwhite;align-items: center">{{nombreMusico}}</h2>
     <hr>
     <input id="buscarBox" type="text" placeholder="BUSCAR" class="form-control">
     <button  style="margin-left:65px" (click)="buscar()">Buscar</button>
   
     
     <div *ngIf="!usuarioNormal">
        <hr>
         <div>
           <button (click)="publicarAlbum()" style="margin-left:33px">Publicar Album</button>
         </div>
         <div>
           <button style="margin-left:50px" (click)="discografia()">Discografia</button>
         </div>
        <hr>
      </div>
      <div>
          <button style="margin-left:60px" (click)="playlist1()">Playlists</button>
      </div>
     <div>
      <button style="margin-left:70px" (click)="salir()">Salir</button>

     </div> 
  </mat-sidenav>
  
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
      <div class="audio-player-container" style="background-color:white">
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  