<link rel="stylesheet" href="/css/menu.css" type="text/css"/>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">


<!--NAVBAR-->
<header class="header stopping">
    <!--Container-->
    <div class="container ">
        <!--Row-->
        <div class="row">
            <div class="col-lg-2">
                <a class="scroll logo" href="#wrapper">
                    <img class="mb-0" src="img/logo.png" alt="">
                </a>
            </div>
            <!--MENU CUANDO ES PC-->
            <div class="col-lg-10 text-right">
                <nav class="main-nav">
                    <a class="mobile-but">
                            <li><a class="scroll list-inline-item" href="#wrapper"routerLink="/Registro">Registrarse</a></li>
                            
                    </a>
                    <ul class="main-menu list-inline">
                        <li><a class="scroll list-inline-item" href="#wrapper" routerLink="/Registro">Registrarse</a></li>
                        
                    </ul>
                </nav>
            </div>
            
            
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</header>

<!--LOGIN-->
<form class="login-form">
    <h1  class="glitch" data-text="Iniciar Sesion">
    Iniciar Sesion
    </h1 >
    <input class="login-username" autofocus="true" required="true" placeholder="Nickname" />
    <input type="password" class="login-password" required="true" placeholder="Contraseña" />
    <!-- Default unchecked -->
    <div  class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">Musico</label>
    </div>
  
  <!-- Default checked -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="defaultChecked">Usuario Normal</label>
     </div>
    <input type="submit" name="Ingresar" value="Ingresar" class="login-submit" routerLink="/Inicio/Normal"/>
    
</form>
  
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
  

  <!--Javascript-->
  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/smooth-scroll.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/audio.min.js"></script>
  <script src="js/twitterFetcher_min.js"></script>
  <script src="js/instafeed.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/placeholders.min.js"></script>
  <script src="js/script.js"></script>