<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/assets/assets2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/assets2/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/assets2/css/main.css" rel="stylesheet" type="text/css" media="all" />
    
    <link href="/assets/assets2/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
<mat-sidenav-container class="example-container" style="background-color:rgb(0, 0, 0)">
  <mat-sidenav #sidenav  style="background-color:rgba(83, 2, 2, 0.603);">
      
    <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
     <!--AQUI ESTA EXPANDIDO-->
     
     <div class="image-upload">
      <label for="file-input">
          <img class="imgUser"  src="/assets/assets2/img/Usuario.png"/>
      
      </label>
      </div>
     <h2 (click)="irInicio()" style="margin-left:30px;color:floralwhite;align-items: center" (click)="irInicio()">{{usuario}}</h2>
     <hr>
     <input id="buscarBox" type="text" placeholder="BUSCAR" class="form-control">
     <button  style="margin-left:65px" (click)="buscar()">Buscar</button>

     <hr>
     <div>
      <button style="color:white; margin-left:60px;" (click)="explorar()" >Explorar</button>
   </div>
   <div>
    <button style="margin-left:60px" (click)="categorias()">Categorias</button>
   </div>
   <div>
    <button style="margin-left:40px" (click)="recomendaciones()" >Recomendaciones</button>
  </div>
   <div>
      <button style="color:white; margin-left:50px;" (click)="categorias()">Categorias</button>
   </div>
     <hr>
     <div>
       <button (click)="publicar()" style="margin-left:33px">Publicar Album</button>
     </div>
     <div>
       <button style="margin-left:50px" (click)="discografia()">Discografia</button>
     </div>
     <hr>
     <button style="margin-left:50px" (click)="playlist()">Playlists</button>
     <div>
      <button style="margin-left:70px" (click)="salir()">Salir</button>

     </div> 
  </mat-sidenav>
  
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
      <h3 style="align-text:center;color:white;margin-left:40%">DISCOGRAFIA</h3>
      <hr>
      <select id="dropDown1" style="margin-left:40%;margin-bottom: 3px" (change)="dropDown($event.target.value)">
         <option  selected hidden value="Seleccione">Seleccione Album</option>
          <option *ngFor="let albumes of portadasNomAlbum; index as i" value="{{portadasNomAlbum[i]}}">{{portadasNomAlbum[i]}}</option>
        </select>
        <div>
          <img id="imagenPortada" src={{url}} alt="">
        </div>
        
        <select id="dropDown2"  style="margin-left:40%" (change)="cancionCambio($event.target.value)">
            <option value="Seleccione" selected hidden>Canciones</option>
            <option *ngFor="let musicas of cancionesAlbumes;index as i" value="{{cancionesAlbumes[i]}}">{{cancionesAlbumes[i]}}</option>
          </select>
          <hr>
        <div class="container">
            <div class="row">
              <div class="col-sm" style="color:white">
                <h3>Opciones de canciones</h3>
                <!--Caja de texto de nuevo nombre a cancion-->
                <input id="nuevoNombreTXT" class="form-control" type="text" placeholder="Nombre nuevo de la cancion"> 
                <button (click)="nuevoNombreCancion()">Aplicar</button>
                <!--Boton de eliminar Cancion-->
                <div>
                  <label for="eliminate" class="custom-file-upload">
                    <i class="fa fa-trash"></i>Eliminar Canción
                </label>
                <button id="eliminate" (click)="eliminar()"></button>
                </div>

              </div>
              <div class="col-sm"style="color:white">
              </div>
              <div class="col-sm"style="color:white">
                <h3>Opciones de album</h3>
                
                <!--Nombre-->
                
                  <div>
                    <input id="nuevoNombreAlbum" class="form-control" type="text"  placeholder="Nombre nuevo album"> 
                    <button (click)="nuevoNombreAlbum()">Aplicar</button>
                  </div>
                  
                
                
                <!--Boton de subir cancion-->
                <select id="generoBox" name="categorias"  class="form-control" style="color:black">
                    <option value="SELECCIONE GENERO" hidden>Seleccione genero</option>
                     <option value="Bass‎">Bass‎</option>
                     <option value="Blues">Blues</option> 
                     <option value="Bolero‎">Bolero‎</option> 
                     <option value="Bubblegum‎">Bubblegum‎</option> 
                     <option value="Funk‎">Funk‎</option> 
                     <option value="Funk metal‎">Funk metal‎</option> 
                     <option value="HipHop">HipHop</option> 
                     <option value="Jazz">Jazz</option> 
                     <option value="Jpop">Jpop</option> 
                     <option value="Kpop">Kpop</option> 
                     <option value="Metal">Metal</option> 
                     <option value="MetalCore">MetalCore</option> 
                     <option value="Pop">Pop</option> 
                     <option value="PostPunk">PostPunk</option> 
                     <option value="PostHarcore">PostHarcore</option> 
                     <option value="Punk">Punk</option> 
                     <option value="Reggae">Reggae</option> 
                     <option value="Reguetón‎">Reguetón‎</option> 
                     <option value="Rumba‎">Rumba‎</option> 
                  </select>
                <div>
                  <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Añadir Cancion al album {{albumSeleccionado}}
                </label>
                
                <input id="file-upload" type="file" (change)="uploadFile($event)"/>
                </div>
                <div id="uploadState">{{ uploadPercent | async }}</div>
                <a id="uploadState2" [href]="downloadURL | async">{{ downloadURL | async }}</a>
                
              </div>
            </div>
          </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

