<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav [mode]="mode.value" style="background-color:rgb(29, 29, 29);">
      
      <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
       <!--AQUI ESTA EXPANDIDO-->
       <img src="../../../img/Usuario.png" alt="UsuarioImagen" class="imgUser">
       <h2 style="margin-left:30px;">USUARIO</h2>
       <hr>
       <input type="text" placeholder="BUSCAR" class="form-control">
       <hr>
       <h3 style="color:white; margin-left:60px;">Explorar</h3>
       <hr>
       <select id="inputPlaylist" class="form-control" pla>
          <option selected hidden>Playlists</option>
          <option>...</option>
        </select>
        <hr>
        <button (click)="salir()">Salir</button>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = true;"><i class="fa fa-bars"></i></button></p>
      <div style="color:blanchedalmond">
        <!--AQUI VAN LOS ALBUMES-->
        
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->