<div>
        <head>
                <!-- Metas -->
                <meta charset="utf-8">
                <title>Oumaila - Music Band and Musician Template</title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- Css -->
                <link rel="stylesheet" href="/assets/assets2/css/menu.css" type="text/css"/>
    <link href="/assets/assets2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/assets2/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/assets2/css/main.css" rel="stylesheet" type="text/css" media="all" />
    
    <link href="/assetsassets/assets2/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
            </head>
            <script>
                
  

            </script>
            <header class="header stopping">
                    <!--Container-->
                    <div class="container ">
                        <!--Row-->
                        <div class="row">
                            <div class="col-lg-2">
                                <a class="scroll logo" href="#wrapper">
                                    <img class="mb-0" src="/assets/assets2/img/logo.png" alt="">
                                </a>
                            </div>
                            <!--MENU CUANDO ES PC-->
                            <div class="col-lg-10 text-right">
                                <nav class="main-nav">
                                    <a class="mobile-but">
                                            <li><a class="scroll list-inline-item" href="#wrapper" routerLink="/IniciarSesion">Ingresar</a></li>
                                    </a>
                                    <ul class="main-menu list-inline">
                                        <li><a class="scroll list-inline-item" href="#wrapper"routerLink="/IniciarSesion">Ingresar</a></li>
                                    </ul>
                                </nav>
                            </div>
                            
                            
                        </div>
                        <!--End row-->
                    </div>
                    <!--End container-->
                </header>
                <!--End header-->
                <!--Latest album section-->
        <section class="latest main brd-bottom">
                <!--Container-->
                <div class="container">
                    <!--Row-->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-9 ">
                            <div class="block-content text-center gap-one-bottom-md">
                                <div class="block-title ">
                                    <div class="block-bars">
                                        <img src="/assets/assets2/img/sound-bars.png" alt="">
                                    </div>
                                    <h6 class="uppercase mb-1">Registro </h6>
                                    <h1 class="uppercase mb-0">Seleccione el tipo de cuenta</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End row-->
                </div>
                <!--End container-->
                <hr>
                <!--Discography section-->
        <section id="discography" class="discography main">
                <img class="pattern-center" src="/assets/assets2/img/center-pattern.png" alt="">
                
                
                <!--Container-->
                <div class="container">
                    <!--Row-->
                    <div class="row">
                        
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="block-content ">
                               
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="block-content">
                                <a routerLink="/Registro/Musico" class="hover-effect">
                                    <div class="block-album p-3">
                                        <img src="/assets/assets2/img/8.jpg" alt="">
                                        <h4 class="uppercase mb-0">MUSICO</h4>
                                        <h6>Comparte tu música con los usuarios y genera ingresos</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="block-content  ">
                                <a routerLink="/Registro/Normal" class="hover-effect">
                                    <div class="block-album p-3">
                                        <img src="/assets/assets2/img/9.jpg" alt="">
                                        <h4 class="uppercase mb-0">NORMAL</h4>
                                        <h6>Escucha a tus canciones favoritas y 
                                            adquierelas
                                        </h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
                
            </section>
            
                
            </section>
            
                    
        
                  
        
        
            <!--Javascript-->
            <script src="js/jquery-1.12.4.min.js"></script>
            <script src="js/jquery.flexslider-min.js"></script>
            <script src="js/smooth-scroll.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/audio.min.js"></script>
            <script src="js/twitterFetcher_min.js"></script>
            <script src="js/instafeed.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/placeholders.min.js"></script>
            <script src="js/script.js"></script>
</div>
   