<link rel="stylesheet" href="/assets/assets2/css/menu.css" type="text/css"/>
<link href="/assets/assets2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/assets2/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/assets2/css/main.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/assets2/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/assets2/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/assets2/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<div>
<app-upload></app-upload>        
</div>
    <input type="submit" style="margin-top:530px" name="Ingresar" value="Volver" class="login-submit" (click)="regresar()" /> <!--routerLink="/Inicio/Normal"-->
   
       



  
<div class="underlay-photo"></div>
<div class="underlay-black"></div>


<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
