<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<mat-sidenav-container class="example-container" style="background-color:rgb(0, 0, 0)">
    <mat-sidenav #sidenav  style="background-color:rgba(83, 2, 2, 0.603);">
      
        <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
         <!--AQUI ESTA EXPANDIDO-->
         
         <div class="image-upload">
          <label for="file-input">
              <img class="imgUser"  src="../../../img/Usuario.png"/>
          
          </label>
          </div>
         <h2 (click)="irInicio()" style="margin-left:30px;color:floralwhite;align-items: center">{{usuario}}</h2>
         <hr>
         <input id="buscarBox" type="text" placeholder="BUSCAR" class="form-control">
         <button  style="margin-left:65px" (click)="buscar()">Buscar</button>
         <hr>
         <button style="color:white; margin-left:60px;" (click)="explorar()" >Explorar</button>
         <div *ngIf="!usuarioNormal">
           <hr>
            <div>
              <button href="/Inicio/Musico/Publicar" style="margin-left:33px">Publicar Album</button>
            </div>
            <div>
              <button style="margin-left:50px" (click)="discografia()">Discografia</button>
            </div>
           <hr>
         </div>
         <div>
          <button style="margin-left:50px" (click)="playlist()">Playlists</button>

         </div>
         <div>
          <button style="margin-left:70px" (click)="salir()">Salir</button>
  
         </div> 
      </mat-sidenav>
  
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
      
      <!--COMPONENTE DEL VIEW-->
      
       <!------------------ Hover Effect Style : Demo - 4 --------------->
      <div class="container" >
            <div class="row">
                    
                            <div class="col-lg-4" *ngFor='let musica of portadasImagenes; index as i'>
                             <div class="box4" style="margin-bottom:10px" (click)="albumSeleccionado(portadasMusico[i],portadasNomAlbum[i],portadasIdAlbum[i],portadasImagenes[i])">
                                
                                <img src={{portadasImagenes[i]}}>
                                <div class="box-content">
                                 <h3 class="title">{{portadasNomAlbum[i]}}</h3>
                                 <span class="post">{{portadasMusico[i]}}</span>
                                 <div style="visibility: hidden">{{portadasIdAlbum[i]}}</div>
                                
                                 </div>
                                
                            </div>
                          
                      </div>
                   
            </div>
        </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->