<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<mat-sidenav-container class="example-container" style="background-color:rgb(0, 0, 0)">
    <mat-sidenav #sidenav  style="background-color:rgba(41, 41, 41, 0.74);">
      
      <p><button mat-button  (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
       <!--AQUI ESTA EXPANDIDO-->
       
       <div class="image-upload">
        <label for="file-input">
            <img class="imgUser"  src="../../../img/Usuario.png"/>
        </label>
        </div>
       <h2 style="margin-left:30px;color:floralwhite;align-items: center">{{usuario}}</h2>
       <hr>
       <input type="text" placeholder="BUSCAR" class="form-control">
       <hr>
       <h3 style="color:white; margin-left:60px;">Explorar</h3>
       <hr>
       <select id="inputPlaylist" class="form-control" pla>
          <option selected hidden>Playlists</option>
          <option>...</option>
        </select>
        <button>Salir</button>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!--AQUI NO ESTA EXPANDIDO-->
      <p><button mat-button *ngIf="!opened" (click)="sidenav.toggle(); opened = false;"><i class="fa fa-bars"></i></button></p>
      
      <!--COMPONENTE DEL VIEW-->
      
       <!------------------ Hover Effect Style : Demo - 4 --------------->
      
            <div class="rows" *ngFor='let musica of portadasImagenes; index as i'>
                    <div class="col-lg-4">
                            <div>
                             <div class="box4" (click)="albumSeleccionado(portadasMusico[i],portadasNomAlbum[i],portadasIdAlbum[i],portadasImagenes[i])">
                                <img src={{portadasImagenes[i]}}>
                                <div class="box-content">
                                 <h3 class="title">{{portadasNomAlbum[i]}}</h3>
                                 <span class="post">{{portadasMusico[i]}}</span>
                                 <div style="visibility: hidden">{{portadasIdAlbum[i]}}</div>
                                    <ul class="icon">
                                        <li><a href="#" class="fa fa-search"></a></li>
                                        <li><a href="#" class="fa fa-link"></a></li>
                                     </ul>
                                 </div>
                            </div>
                          
                      </div>
                   </div>
            
          </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->