<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>Oumaila - Music Band and Musician Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="stylesheet" href="/css/menu.css" type="text/css"/>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/src/assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
    
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
</head>
<script>
 

</script>
<body >
   
    <!--Wrapper-->
    <div class="wrapper" >
        <!--Hero section-->
        <section class="hero ">
            <!--Main slider-->
            
            <div>
                <img class="hue"  src="/img/1.jpg" alt="">
                <img class="centrar" src="/img/logoOriginal.png">
                <h4 class="centrarTexto">Pulse</h4>
            </div> 
            
            <!--End main slider-->
            <!--Header-->
            <header class="header stopping">
                    <!--Container-->
                    <div class="container ">
                        <!--Row-->
                        <div class="row">
                            <div class="col-lg-2">
                                <a class="scroll logo" href="#wrapper">
                                    <img class="mb-0" src="img/logo.png" alt="">
                                </a>
                            </div>
                            <!--MENU CUANDO ES PC-->
                            <div class="col-lg-10 text-right">
                                <nav class="main-nav">
                                    <a class="mobile-but">
                                            <li><a class="scroll list-inline-item" href="#wrapper" routerLink="/IniciarSesion" >Ingresar</a></li>
                                            <li><a class="scroll list-inline-item" routerLink="/Registro">Registrarse</a></li>
                                    </a>
                                    <ul class="main-menu list-inline">
                                        <li><a class="scroll list-inline-item" href="#wrapper" routerLink="/IniciarSesion">Ingresar</a></li>
                                        <li><a class="scroll list-inline-item" routerLink="/Registro">Registrarse</a></li>
                                    </ul>
                                </nav>
                            </div>
                            
                            
                        </div>
                        <!--End row-->
                    </div>
                    <!--End container-->
                </header>
                <!--End header-->
            </section>
        <!--About section-->
        <section id="about" class="about main brd-bottom">
            <img class="pattern-center" src="img/right-pattern.png" alt="">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row vertical-align">
                    <div class="col-md-5    ">
                        <div class="block-content text-center">
                            <h1 class="uppercase mb-0">Disfruta de <br>tus artistas favoritos</h1>
                            <p class="mt-2 lead w-95">en la mejor pagina de música</p>
                            <img class="sing mb-0" src="img/signature.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-1">
                        <div class="block-content">
                            <ul class="block-images row">
                                <li id="item" class="col-md-6 col-sm-6"><img src="img/3.jpg" alt=""> </li>
                                <li id="item" class="col-md-6 col-sm-6"><img src="img/4.jpg" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <div class="gap-one-bottom-md"></div>
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row vertical-align">
                    <div class="col-md-6   ">
                        <div class="block-content">
                            <ul class="block-images row">
                                <li id="item" class="col-md-6 col-sm-6"><img src="img/5.jpg" alt=""> </li>
                                <li id="item" class="col-md-6 col-sm-6"><img src="img/6.jpg" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            
        </section>
        <!--End about section-->
        
        
        
        
        
        
        
        <!--Contact section-->
        <section id="contact" class="contact main top bg-secondary">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-bottom-md">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="img/sound-bars.png" alt="">
                                </div>
                                <h6 class="uppercase mb-1">Contactanos</h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <ul class="feature-list feature-list-sm text-center row gap-one-bottom-sm">
                            <li class="col-sm-4  col-lg-4">
                                <div class="card block-info text-center">
                                    <div class="card-body pt-0">
                                        <h2 class="uppercase h2">Info</h2>
                                        <p class="mb-0"><em class=" h5 mb-1 uppercase swap-color">Benaissa Ghrib</em>
                                            <br> T+(513)352-3209
                                            <br> info2@mousiqua.net
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4  col-lg-4">
                                <div class="card block-info text-center">
                                    <div class="card-body pt-0">
                                        <h2 class="uppercase h2">Prensa</h2>
                                        <p class="mb-0"><em class=" h5 mb-1 uppercase swap-color">Zakaria Kalal</em>
                                            <br> T+(513)352-3209
                                            <br> prensa@mousiqua.net
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4  col-lg-4">
                                <div class="card block-info text-center">
                                    <div class="card-body pt-0">
                                        <h2 class="uppercase h2">Info</h2>
                                        <p class=" mb-0"><em class="h5 mb-1 uppercase swap-color">Youssef Ait</em>
                                            <br> T+(513)352-3209
                                            <br> info@mousiqua.net
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <ul class="block-social colored list-inline text-center mb-5">
                            <li class="list-inline-item">
                                <a href="#" class="hover-effect"> <i class="socicon-facebook"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="hover-effect"><i class="socicon-instagram"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="hover-effect"><i class="socicon-twitter"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="hover-effect"><i class="socicon-youtube"></i> </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!--End container-->
        </section>
        <!--End contact section-->
        <footer class="footer pb-5 bg-secondary text-center">
            <!--Container-->
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 ">
                        <div class="block-content pt-5 brd-top">
                            <p class="mb-0 ">mousiqua - <a href="#" class="swap-color underline  mr-2">Privacy Policy</a> <a href="#" class="swap-color underline  mr-2">Terms of Use</a> <a href="#" class="swap-color underline">AdChoices</a>
                                <br> &copy; 2018 all rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End container-->
        </footer>
        <a class="block-top scroll hover-effect" href="#wrapper"><i class="icon-angle-up"></i></a>
        </div>
        <!-- End wrapper-->
       
        <!-- Google analytics -->
        <!-- End google analytics -->
</body>