
        <head>
               
                <link rel="stylesheet" href="/assets/assets2/css/menu.css" type="text/css"/>
                <link href="/assets/assets2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
                <link href="/assets/assets2/css/base.css" rel="stylesheet" type="text/css" media="all" />
                <link href="/assets/assets2/css/main.css" rel="stylesheet" type="text/css" media="all" />
                <link href="/assets/assets2/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
                <link href="/assets/assets2/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
                <link href="/assets/assets2/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
                <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
            </head>
            <script>
                
            </script>
        <!--Header-->
        <header class="header stopping">
                <!--Container-->
                <div class="container ">
                    <!--Row-->
                    <div class="row">
                        <div class="col-lg-2">
                            <a class="scroll logo" href="#wrapper">
                                <img class="mb-0" src="/assets/assets2/img/logo.png" alt="">
                            </a>
                        </div>
                        <!--MENU CUANDO ES PC-->
                        <div class="col-lg-10 text-right">
                            <nav class="main-nav">
                                <a class="mobile-but">
                                        <li><a class="scroll list-inline-item" href="#wrapper" routerLink="/IniciarSesion">Ingresar</a></li>
                                        
                                </a>
                                <ul class="main-menu list-inline">
                                    <li><a class="scroll list-inline-item" href="#wrapper" routerLink="/IniciarSesion">Ingresar</a></li>
                                    
                                </ul>
                            </nav>
                        </div>
                        
                        
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
            </header>
            <!--FORMULARIO-->
            <form>
                    <input id="input-1" type="text" placeholder="John Doe" required autofocus />
                    <label for="input-1">
                      <span class="label-text">Nombre completo</span>
                      <span class="nav-dot"></span>
                      <div class="signup-button-trigger">Volver al inicio</div>
                    </label>
                    <input id="input-2" type="text" placeholder="john" required />
                    <label for="input-2">
                      <span class="label-text">Nickname</span>
                      <span class="nav-dot"></span>
                    </label>
                    <input id="input-3" type="Correo" placeholder="Correo@direccion.com" required />
                    <label for="input-3">
                      <span class="label-text">Correo Electronico</span>
                      <span class="nav-dot"></span>
                    </label>
                    <input id="input-4"  placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" required />
                    <label for="input-4">
                      <span class="label-text">Contraseña</span>
                      <span class="nav-dot"></span>
                    </label>
                    <input id="input-5" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" required />
                    <label for="input-5">
                      <span class="label-text">Confirmar contraseña</span>
                      <span class="nav-dot"></span>
                    </label>

             </form>
                <div style="margin-top:80px;margin-left: 30%">
                    <button (click)='onSubmit()'>Registrarme</button>
                </div>
        

   